.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 20px;
    width: 100%;
    border: none;
    font-size: 15px;
    text-align: center;
  }
  .active, .collapsible:hover {
    background-color: rgb(54, 57, 54);
    box-shadow: inset 1px 3px 5px black;
  }
  .content {
    text-align: center;
    padding: 0 18px;
    display: none;
    /* height: 100vh; */
    background: grey;
    color: black;
  }
  .text{
    text-align: center;
  }
  .ram{
    border: solid;
  }
  img{
    height: 150px;
  }